* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(17, 18, 19);
}
.wrapper {
  width: 1600px;
  height: 900px;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}
.website-wrapper {
  color: #fff;
}

[data-flume-component="node"] {
  &[data-flume-has-appendage="true"] [data-flume-component="node-header"] {
    border: 1px solid orange;
  }

  &[data-flume-is-dragging="true"] {
    opacity: 0.7;
    border: 1px solid blue;
  }
}
